ul {
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: -webkit-pictograph;
    background: cadetblue;
    border-radius: 2rem;
    color: snow;
    height: 100%;
    width: 100%;
    padding: 8rem!important;
    
    li {
        display: flex;
        justify-content: center;
        

        span {
            min-width: 50%;
            padding: 0 1rem;
        }
        
        span:nth-of-type(2) {
            color: beige;
            margin-left: 3rem;
            border: 1px solid;
            padding: 0.5rem 1rem;
            border-radius: 1rem;
            background: chocolate;
        }
    }
    
}
