/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    background-color:teal;
}
html {
    font-size: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

::placeholder {
    color: teal;    
    opacity: 1
  }

select {
    appearance: none;
}